footer{
    display: flex;
    justify-content: space-around;
    height: 150px;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
}
footer nav{
    font-size: 16px;
}
footer a{
    position: relative;
    padding: 5px;
    transition: 1s;
}

footer i{
    transition: 100ms;
}
footer i:hover{
    text-shadow: 0 0 2px white;
}
footer .links .name{
    display: none;
}
footer a::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #00add8;
    transition: width 0.3s ease-out;
}
footer a:hover::after{
    width: 100%;
    height: 1px;
}

@media (max-width: 665px){
    footer nav{
        font-size: 14px;
    }
    footer a{
        padding: 3px;
    }
}
@media (max-width: 432px){
    footer .links,
    footer nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    footer .links a{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    footer .links .name{
        display: inline;
        font-size: 14px;
    }
}