*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: #202020;
}


/* header */
.header{
    height: 110px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}
.header__logo{
    font-size: 20px;
    padding: 20px;
    border: 1px solid #00add8;
    border-radius: 50%;
    color: #00a2ff;
    box-shadow: 0 0 15px;
    cursor: pointer;
    transition: 0.25s;
}
.header__logo:hover{
    box-shadow: 0 0 20px;
    color: #008ddf;
}
.header__logo:active{
    box-shadow: none;
    color: #008ddf;
}

.header__nav{
    display: flex;
    gap: 10px;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
}
.header__nav__item{
    position: relative;
    border-radius: 5px;
    padding: 5px;
}
.header__nav__item:hover{
    background-color: #252525;
}
.header__nav__item:active{
    background-color: #333333;
    color: #fffffd;
}
.header__nav__item:hover::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1px;
    background-color: #fff;
    border-radius: 5px;
}

.bottom-header{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    height: calc(100vh - 110px);
}
.bottom-header__text{
    display: inline-block;
    font-size: 26px;
    
}
.bottom-header__text__name{
    color: #00add8;
}
.bottom-header__text p{
    font-size: 22px;
}
section{
    height: 100vh;
}

/* my-skills */
.my-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px 50px;
    position: relative;
}
.my-skills::before{
    content: '';
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(255, 40, 2);
    position: absolute;
    opacity: 0.5;
    z-index: -1;
    top: -150px;
    left: -150px;
}
.my-skills::after{
    content: '';
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(255, 40, 2);
    position: absolute;
    opacity: 0.5;
    z-index: -1;
    bottom: -150px;
    right: 50px;
}
.my-skills h2{
    font-size: 42px;
    margin-bottom: 25vh;
}
.my-skills__skills{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-self: center ;
}
.my-skills__skills__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 150px;
}